.contact__container{
  width: 50vw;
  height: 120px;
  background-color: $color-light-white;
  margin: 2vw;
  border-radius: 2px;
}

h4{
  font-family: $font-base;
  font-size: $font-head4;
  font-weight: 600;
  margin-bottom: 15px;

  img{
    margin-right: 10px;
  }
}