.contact__container {
  height: 100vh;
  background-color: $color-blue-blankmax;
  border-radius: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h4 {
  font-family: $font-base;
  font-size: calc($font-head3 + 5px);
  font-weight: 600;
  margin-bottom: 55px;

  .contact__icon {
    margin-right: 20px;
    width: 59px;
    height: 59px;
    rotate: 15deg;
  }
}

.contact__form__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 30vw;
  padding: 30px 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-light-gray;
  border-radius: 15px;

  & input {
    font-family: $font-alt;
    font-size: $font-subhead1;
    padding: 6px 15px;
  }

  input[type=text] {
    border: 2px solid $color-gray-blank;
    border-radius: 8px;
    height: 2.5vh;
  }

  input[type=email] {
    border: 2px solid $color-gray-blank;
    border-radius: 8px;
    height: 2.5vh;
  }

  textarea {
    border: 1.5px solid $color-gray-blank;
    border-radius: 8px;
    height: 8vh;
    padding: 12px;
    font-family: $font-base;
    font-size: $font-general;
  }

  :focus {
    background-color: $color-blue-blankmax;
  }
}

.contact__form__container button {
  display: block;
  width: 120px;
  margin-right: 0;
  margin-left: auto;
  padding: 6px;
  height: auto;
  font-family: $font-base;
  font-weight: 400;
  font-size: $font-head4;
  background-color: $color-blue;
  border: 2px solid $color-white;
  border-radius: 50px;
  color: $color-white;
  line-height: 35px;
  transition: 1s;

  &:hover {
    background-color: $color-white;
    border: 2px solid $color-blue;
    color: $color-blue;
  }
}

.swal-overlay {
  background-color: $color-blue-blank;
}

@media (max-width: $breakpoint-tablet) {
  .contact__container {

  }
}