.experience__container{
  text-align: center;
  color:$color-white;
  display: flex;
  flex-direction: column;
  gap: 2px;

  span{
    background-color: $color-deep-purple;
    cursor: pointer;
    padding: 90px 50px;
    font-size: $font-head4;
    font-family: $font-base;
  }
  :hover{
    background-color: $color-light-gray;
    color: transparent;
  }
}