.fixblock__container {
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: $color-blue;
  color: $color-white;
  font-family: $font-base;
  padding-left: 40px;
  position: fixed;
  h1 {
    font-size: $font-head3;
    margin-bottom: 15px;
  }

  span {
    font-size: $font-subhead1;
    margin-bottom: 30px;
    font-family: $font-alt;
    font-weight: 300;
    max-width: 40vw;
  }
}

.fixblock__button {
  border: 2px solid $color-white;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: transparent;
  color: $color-white;
  font-size: 25px;
  transition: 0.7s;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }
}


footer{
  position: absolute;
  bottom: 2vh;

  a{
    color: $color-light-gray;
    font-weight: 600;
    cursor: pointer;
  }
}