.fixblock__container {
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: $color-blue;
  color: $color-white;
  font-family: $font-base;
  padding-left: 40px;
  position: fixed;
  z-index: 10;

  h1 {
    font-size: $font-head3;
    margin-bottom: 15px;
  }

  span {
    font-size: $font-subhead1;
    margin-bottom: 30px;
    font-family: $font-alt;
    font-weight: 300;
    max-width: 40vw;
  }
}

.fixblock__button {
  border: 2px solid $color-white;
  border-radius: 20px;
  padding: 8px 15px;
  background-color: transparent;
  color: $color-white;
  font-size: 25px;
  transition: 0.7s;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }
}


footer {
  position: absolute;
  bottom: 2vh;
  width: 80%;

  a {
    color: $color-light-gray;
    font-weight: 600;
    cursor: pointer;
  }

  img {
    position: absolute;
    right: -3.5vw;
    bottom: -0.3vh;
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
  }
}

@media (max-width: $breakpoint-tablet) {
  .fixblock__container {
    width: 100vh;
    height: 30%;
    position: fixed;
  }

  footer {
    width: 90vw;

    img {
      right: 0;
    }
  }
}

@media (max-width: $breakpoint-smartphone) {
  .fixblock__container {
    width: 100vh;
    height: 25%;
    position: fixed;

    h1 {
      font-size: $font-subhead1;
      margin-bottom: 8px;
    }

    span {
      font-size: $font-subhead2;
      margin-bottom: 12px;
      font-family: $font-alt;
      font-weight: 300;
      max-width: 40vw;
    }
  }

  .fixblock__button {
    padding: 2px 6px;
    font-size: 15px;
    margin-bottom: 2vh;
  }

  footer {
    align-items: center;
    width: 80vw;

    img {
      right: 0;
      width: 30px;
      height: 30px;
    }
  }
}
