.home__container {
  background: url("https://nydsgn.com/images/visualization/7.jpg") center center no-repeat;
  float: right;
  height: 100%;
  width: 55vw;

  main {
    padding: 100px;
    max-width: 45vw;
    background-color: $color-light-white;
    width: 100%;

    h1 {
      font-family: $font-base;
      font-size: $font-head4;
      font-weight: 600;
      line-height: 50px;
      margin-bottom: 15px;
    }
  }
}

.main__article {
  font-family: $font-alt;
  font-size: $font-general;
  color: $color-gray-blank;
  line-height: 20px;
  margin-bottom: 35px;
}

h2 {
  margin-bottom: 15px;
  font-family: $font-base;
  font-size: $font-general;
  font-weight: 500;
  color: $color-gray-blank;
}

section {
  font-family: $font-alt;
  font-size: $font-typical;
  font-weight: 400;
  color: $color-gray;
  line-height: 20px;
  margin-bottom: 20px;
}

