.projects__container {
  margin: 7vh 3vw;
  justify-content: center;
  align-items: start;
  text-align: center;
}

.projects__buttons {
  color: $color-gray-blank;
  font-size: $font-subhead1;
  font-family: $font-alt;
  background-color: $color-white;
  border: 3px solid $color-blue;
  border-radius: 30px;
  padding: 10px 30px;
  text-decoration: none;
  margin-left: 4vw;
  margin-bottom: 5vh;
  transition: 0.5s;

  &:hover {
    color: $color-white;
    background-color: $color-blue;
    border: 3px solid $color-white;
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vw;
  align-items: flex-end;
}

.projects__menu__container {
  background-color: $color-light-gray;
  width: auto;
  height: 460px;
  float: right;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;

  img {
    width: 350px;
    height: 290px;
  }
}

.projects__menu__subs {
  width: auto;
  text-align: center;

  span {
    color: $color-gray-blank;
    font-family: $font-base;
    font-size: $font-head4;
    margin-top: 14px;
  }

  p {
    font-size: $font-typical;
    color: $color-gray;
    margin-top: 8px;
    margin-bottom: 55px;
    width: auto;
    padding: 2px 1vw 0 1vw;
  }
}

.projects__links {
  display: flex;
  gap: 18px;
  float: right;

  img {
    height: 40px;
    width: 40px;
  }
}