$color-white: #FFFFFF;
$color-light-white: rgba(255, 255, 255, 0.44);
$color-blue: #011a83;
$color-deep-purple: #191931;
$color-light-gray: rgba(105, 102, 102, 0.86);
$color-gray-blank: #252323;
$color-gray: #4d4d4d;