$font-base:'Barlow Condensed', sans-serif;
$font-alt: 'Lato', sans-serif;


$font-head1: 150px;
$font-head2: 100px;
$font-head3: 56px;
$font-head4: 32px;
$font-subhead1: 25px;
$font-general: 20px;
$font-typical: 16px;
$font-subhead2: 14px;
$font-nav: 16px;