@import "reset";
@import "../style/settings/fonts";
@import "../style/settings/colors";
@import "../style/settings/breakpoints";
@import "componenets-style/fixblock";
@import "componenets-style/home";
@import "componenets-style/experience";
@import "componenets-style/projects";
@import "componenets-style/contact";

body {
  background-color: $color-blue;
  overflow-x: hidden;
}

* {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 100;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: $color-white;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: $color-light-white;
}

::-webkit-scrollbar {
  width: 0.6vw;
}

::-webkit-scrollbar-track {
  background-color: $color-blue-blankmax;
}

::-webkit-scrollbar-thumb {
  background-color: $color-white;
  border-radius: 20px;
}

@media (max-width: $breakpoint-tablet) {
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
}